:root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-three: calc(2rem);
  --spaceing-four: calc(3rem);
  --brown:#4d332d;
  --lightbrown:#7a5e57;
  --me:rgb(193, 153, 143);
  --darkbrown:#260e04;
  --sand:rgb(188, 96, 57);
  --orch:rgb(217, 143, 69);
  --light:#fff1b7ea;
  --yellow:#e6c240;
  --lemon:rgb(248, 218, 48);
  --offwhite:#e6fdffea;
  --greenWash:rgb(66, 151, 130);
  --nav:#f5c7bcbf;
  --purple: #746befcc;
  --fire:#ed4a3bcc;
  --blue: #66aee6;
  --pink:#d25ea6;
  --teal:#009F86;
}

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Source+Serif+4&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rock+Salt&family=Source+Serif+4&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Rock+Salt&family=Source+Serif+4&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
  background-color: var(--me);
  font-family: 'Montserrat';
  font-family: Montserrat;
  
}
.logo{
  border-radius: 0.5rem;
  width: 40px;
  height: 40px;
}
/* 
.down {
  top:20%;
} */
/* background gradient colours */
/* pink */
.bottom {
  background-image: linear-gradient(to bottom, #c1998f, #bf978d, #bc958b, #ba938a, #b89188, #bc8d85, #bf8882, #c28381, #cb7983, #d16f8a, #d46696, #d25ea6);
}

.top {
  background-image: linear-gradient(to top, #c1998f, #c0988e, #c0978d, #bf968c, #be958b, #c29188, #c58c85, #c98783, #d07c85, #d5718b, #d66697, #d25ea6);
}
/* Sand */
.circle {
  background-image: radial-gradient(circle, #c1998f, #c0988e, #c0978d, #bf968c, #be958b, #bf9084, #bf8c7d, #bf8776, #c07d67, #bf7358, #be6a49, #bc6039);
}
/* orche */
.top-orch {
  background-image: linear-gradient(to top, #c1998f, #c0988e, #c0978d, #bf968c, #be958b, #c29486, #c69281, #c9917b, #d08f6f, #d58e62, #d88e54, #d98f45);
}

.bottom-orch {
  background-image: linear-gradient(to bottom, #c1998f, #c0988e, #c0978d, #bf968c, #be958b, #c29486, #c69281, #c9917b, #d08f6f, #d58e62, #d88e54, #d98f45);
}

.top-left {
  background-image: linear-gradient(to left top, #c1998f, #c0988e, #c0978d, #bf968c, #be958b, #bf9084, #bf8c7d, #bf8776, #c07d67, #bf7358, #be6a49, #bc6039);
}

.bottom-left {
  background-image: linear-gradient(to left bottom, #c1998f, #c0988e, #c0978d, #bf968c, #be958b, #bf9084, #bf8c7d, #bf8776, #c07d67, #bf7358, #be6a49, #bc6039);
}

.top-right {
  background-image: linear-gradient(to right top, #c1998f, #c0988e, #c0978d, #bf968c, #be958b, #c29486, #c69281, #c9917b, #d08f6f, #d58e62, #d88e54, #d98f45);
}

.bottom-right {
  background-image: linear-gradient(to right bottom, #c1998f, #c0988e, #c0978d, #bf968c, #be958b, #c29486, #c69281, #c9917b, #d08f6f, #d58e62, #d88e54, #d98f45);
}

.top-left-sand {
  background-image: linear-gradient(to left top, #c1998f, #c1998f, #c1998f, #c1998f, #c1998f, #c29488, #c38f81, #c38a7a, #c37f6a, #c2755a, #bf6a4a, #bc6039);
}

.bottom-left-sand {
  background-image: linear-gradient(to left bottom, #c1998f, #c1998f, #c1998f, #c1998f, #c1998f, #c29488, #c38f81, #c38a7a, #c37f6a, #c2755a, #bf6a4a, #bc6039);
}

.crown {
  width: 100px;
  height: 100px;
  position: absolute;
  top:-80%; 
  left:45%;
  /* right:50%; */
}

.graphic {
  position: absolute;
  top:-260%; 
  right:10%;
  z-index: 0;
  width: 100px;
  height: 100px;
  border-radius: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  font-family: 'Source Serif 4', sans-serif;
}

h1 {
  font-size: 2.25rem;

}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
  color: var(--darkbrown)
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--darkbrown);
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  text-decoration: 
  #bc6039;
}

header {
  background-color: var(--nav);

  position:relative;
  background-color:transparent;
  
}

.manmiya {
  background-color: var(--me);
  position:relative;
  box-shadow: rgba(38, 14, 4, 0.4) 0px 5px, 
  rgba(77, 51, 45, 0.3) 0px 10px, 
  rgba(123,94,87, 0.2) 0px 15px, 
  rgba(188,96,57, 0.1) 0px 20px, 
  rgba(217, 143,69, 0.05) 0px 25px;
  border-radius: 2rem;
  border-top-style: dotted var(--purple)
}

header a {
  color: var(--brown);

}

header a:hover {
  color:var(--pink);
}

.col {
  margin-right:6.5%;
}

.banner {
  justify-content: center;
  text-align: center;
  background-color:var(--pink);
  top: 0;
  box-shadow: 8px 8px 8px 8px var(--me);
  box-shadow: 0 -10px 10px -10px var(--pink);
  margin: 0;
  /* font-family: 'Rock Salt', cursive; */
  color: var(darkbrown);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}

nav button {
  right: 1%;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
  background-color: rgb(123, 94, 87, 0.9);
  border-radius: 2rem;
  box-shadow: 0px 0px 8px 0px var(--me);
  color:var(--darkbrown);
}

button:hover {
  opacity: .8;
  background-color: var(--pink);
}

.button[disabled] {
  cursor: default;
  opacity: .8;
}


.button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: rgb(123, 94, 87, 0.9);
  border-radius: 2rem;
  box-shadow: 0px 0px 8px 0px var(--me);
  color:var(--darkbrown);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

button:hover {
  opacity: .8;
  background-color: var(--pink);
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;

}

.im {
  max-width: 100%;
  border-right: 1px solid white;
  padding:5%;
  border-top: 1px solid white;
}
.imm {
  max-width: 100%;
  padding:5%;
  border: 1px solid white;
}
.em {
  max-width: 100%;
  border-left: 1px solid var(--sand);
  padding:5%;
  border-bottom: 1px solid var(--sand);
}

.emg {
  max-width: 100%;
  padding:5%;
  border: 1px solid var(--sand);
}

span[role="img"] {
  cursor: default;
}

form {
  width: 100%;
}

.form {
  list-style: none;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.insta {
  height:1080px;
  width: 1080px;
}

.navbar {
  color: var(--darkbrown);
  list-style: none;
  /* font-family: 'Rock Salt', cursive; */
/* background-color: transparent; */
} 

.dropdown-menu {
  background-color: var(--nav);
  border:none;
  border-style: none;
  position: absolute;
  margin-top: 70px;
  right: 1%;
}


.dropdown-toggle {
  border-radius: 4rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.title {
  /* font-family: 'Rock Salt', cursive; */
  color: var(darkbrown);
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.bedford {
  font-family: 'Rock Salt', cursive;

}

.intro {
  position: relative;
  text-align: match-parent;
  color: var(--darkbrown);
  color: var(--darkbrown);
  font-size: large;
  border-radius: 2rem;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.center {
  justify-content:center;
}

.name {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.ann {
  border:1px solid var(--pink);
  border-radius: 1rem;
  box-shadow: 3px 3px var(--brown), -1em 0 .4em var(--pink);
  box-shadow: 0 0 30px var(--pink), 0 0 30px var(--fire);
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  background-color: transparent;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-3 {
  margin-top: var(--spacing-three);
  margin-bottom: var(--spacing-three);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.py-3 {
  padding-top: var(--spacing-three);
  padding-bottom: var(--spacing-three);
}
.py-4 {
  padding-top: var(--spaceing-four);
  padding-bottom: var(--spaceing-four);
}
/* main cover page */
.cover {

}

/* Main Page Photo */
.float-left {
  margin-right:50%;
  /* margin-top: calc(3rem); */
  overflow-x: hidden;
  height:100%;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  margin-top: calc(1rem);
  /* box-shadow: inset -1em -1em var(--sand), 10px 10px 5px 5px var(--orch); */
}
/* main menu */
.float-right {
  margin-left:55%;
    position:absolute;
    text-align: right;
    color: var(--lightbrown);
    margin-right: 6.5%;
    border-left: 1px solid line var(darkbrown);
    text-align: start;
    border-top-style: dotted var(--purple);
    margin-top: calc(4rem);
}

/* Text pairing for About Page */
.flo-left {
  margin-right:60%;
  /* margin-left: 5%; */
  position:absolute;
  text-align: left;
  top:10rem;
  width: 40%;
  border: none;
  margin-top: calc(3rem);
}

/* Photo for About Page */
.right {
  margin-left:50%;
 overflow-x: hidden;
 box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
 margin-top: calc(3rem);
 /* height:10%; */
}

/* Artist bio title */
.bio {
  top:0.5rem;
}
/* Photo for ArtBio age */
.float-leftt {
  margin-right:60%;
  margin-top: calc(7rem);
  overflow-x: hidden;
  height:10%;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

/* text for artBio Page */
.float-rightt {
  margin-left:15%;
  margin-top: calc(1rem);
  width: 90%;
  overflow-x: hidden;
    position:absolute;
    text-align: right;
    color: var(--darkbrown);
    /* border-left: 1px solid line var(darkbrown); */
    text-align: start;
    border-color: solid line 1rem white;
    padding: 10%;
    top: 3rem;
  
}
/* link from ArtBio to About */
.read {
  margin-top: calc(3rem);
  padding-top: calc(2rem);
}

.border {
  padding: 10%;
}

.inner {
  -webkit-box-shadow: inset 2px 2px 2px 2px #260e04, inset 11px 11px 2px 0px #4d332d, inset 20px 20px 2px 1px #7a5e57, inset 29px 29px 2px 1px #c1998f, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: inset 2px 2px 2px 2px #260e04, inset 11px 11px 2px 0px #4d332d, inset 20px 20px 2px 1px #7a5e57, inset 29px 29px 2px 1px #c1998f, 5px 5px 15px 5px rgba(0,0,0,0);
}

hr {
  border : 1px thin dotted var(--darkbrown);
  color: var(--darkbrown);
}

.float-right a {
  color: var(--darkbrown);
}

.start {
  position: relative;
  text-align: center;
  color: var(--brown);
  border-radius: 2rem;
  margin-top: calc(3rem);
}

.ack {
  height: 500px;
  overflow: scroll;
  -webkit-box-shadow: inset 2px 2px 2px 2px #260e04, inset 11px 11px 2px 0px #4d332d, inset 20px 20px 2px 1px #7a5e57, inset 29px 29px 2px 1px #c1998f, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: inset 2px 2px 2px 2px #260e04, inset 11px 11px 2px 0px #4d332d, inset 20px 20px 2px 1px #7a5e57, inset 29px 29px 2px 1px #c1998f, 5px 5px 15px 5px rgba(0,0,0,0);
border-radius: 1rem;
}

.card {
  width: 25%;
  text-align: center;
  border-radius: 1rem;
  background-color: transparent;
  border: none;
  border-style: none;
  background-color: transparent;
}

.pro {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
  rgba(0, 0, 0, 0.12) 0px -12px 30px, 
  rgba(0, 0, 0, 0.12) 0px 4px 6px, 
  rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 0.1rem;
}

.cat {
  background-color: transparent;
  border: none;
}

.error-text {
  color: var(--error);
}

.footer {
  padding:5%; 
  margin-bottom: 0; 
  margin-top: 1px solid line var(--darkbrown);
  box-shadow: 0px 8px 0px 0px var(darkbrown);
  background-color: var(--brown);
  color:var(--nav);
   /* position:fixed; */
  left:0;
  bottom:0;
  right:0; 
  
}
.footer a {
  color: var(--nav);
}

.bi {
  color: var(--nav);
}

.bi-cart2 {
  color: var(--darkbrown);
}



@media screen and (max-width: 768px) {

  .graphic {
    position: absolute;
    top:-140%; 
    left:-4%;
    z-index: 0;
    width: 100px;
    height: 100px;
    border-radius: 2rem;
  }
  /* main cover page */
.bottom {
  height: max-content;
  background-image: linear-gradient(to bottom, #c1998f, #bd9489, #ba8e83, #b6897e, #b28478);
  background-image: linear-gradient(to bottom, #c1998f, #bf978d, #bc958b, #ba938a, #b89188, #bc8d85, #bf8882, #c28381, #cb7983, #d16f8a, #d46696, #d25ea6);
}

  .card {
    width: 100%;
  }

  .crown {
    width: 100px;
    height: 100px;
    position: absolute;
    top:-4rem; 
    left: 6.6rem; 
  
  }
  
  .float-right {
    margin-left: 13rem;
    margin-top: calc(4rem);
  }

  .float-left {
    margin-top: calc(5rem);
  }
/* About main photo */
  .right {
    margin-left:50%;
   overflow-x: hidden;
   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
   margin-top: calc(3rem);
  }

  /* Photo for ArtBio age */
.float-leftt {
  margin-right:60%;
  margin-top: calc(7rem);
  overflow-x: hidden;
  height:10%;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
/* photo for ArtBio */
.float-rightt {
  margin-left:15%;
  margin-top: calc(1rem);
  width: 90%;
  overflow-x: hidden;
    text-align: right;
    color: var(--darkbrown);
    text-align: start;
    padding: 10%;
    top: 7rem;
  height: 400px;
}
  .footer {
    padding:5%; 
    margin-bottom: 0; 
    margin-top: 1px solid line var(--darkbrown);
    box-shadow: 0px 8px 0px 0px var(darkbrown);
    background-color: var(--brown);
    color:var(--nav);
    left:0;
    bottom:0;
    right:0;
  }


.proList {
  overflow-x: scroll;
  /* overflow-y: hidden; */
  white-space:nowarp;
  height: 500px;
  overflow-x:auto;
  display: inline-block;
}

}

